{% extends 'base.html'%}

{% block title%} signup page {%endblock title%}

{% block body%} 

<h1 class="signupheading">Signup page</h1>

<div class='col-lg-5 shadow p-4 mx-auto'>
<form action="/signup" method='post'>
{% csrf_token %}
<form>
<div class="mb-3">
    <label for="exampleInputname" class="form-label">Username</label>
    <input type="text" class="form-control" id="user" name='user'>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name='email'  type="email" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name='password1' type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Enter Password Again</label>
    <input name='password2' type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="text-center">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
{% endblock body %} 
</html>